/* Item.jsx */
.card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ffedbc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    background-color: rgb(235, 247, 252);
    transition: transform 0.3s ease-in-out;
    width: calc(33.33% - 20px);
  }
  
  .card img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
  }
  
  .card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .card p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .card p:last-child {
    font-size: 18px;
    font-weight: bold;
    color: #337ab7;
  }
  
  .card a {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .card a:hover {
    background-color: #23527c;
  }