/* ItemDetailContainer */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    padding-top: 4rem;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ffedbc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    background-color: rgb(235, 247, 252);
    transition: transform 0.3s ease-in-out;
    width: calc(33.33% - 20px);
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }