/* .home-container{
    padding-top: 4rem;
}
.home{
    text-align: center;
    padding-top: 1rem;
    background-color: burlywood;
} */
/* Contenedor principal */
.home-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 35vh; */
}

/* Estilo del texto con forma de nube */
.home {
    font-size:1rem;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
    background: rgba(255, 255, 255, 0.9); /* Blanco semitransparente */
    padding: 30px 60px;
    border-radius: 100px; /* Bordes redondeados para forma de nube */
    
    /* Sombra difusa para efecto nube */
    box-shadow: 
        10px 10px 30px rgba(0, 0, 0, 0.1),
        -10px -10px 30px rgba(255, 255, 255, 0.5),
        inset 0px 0px 10px rgba(255, 255, 255, 0.5);

    /* Efecto flotante */
    display: inline-block;
    animation: float 6s infinite ease-in-out alternate;
}

/* Animación de flotación */
@keyframes float {
    0% {
        transform: translateY(0) translateX(0) scale(1);
    }
    50% {
        transform: translateY(-15px) translateX(5px) scale(1.02);
    }
    100% {
        transform: translateY(0) translateX(0) scale(1);
    }
}

.categories-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: row;
    position: relative;
    bottom: 20vh;
  }
  
  .categories-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
  
  .category-link {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .category-link:hover {
    background-color: #3e8e41;
  }
  
  .category-link:active {
    background-color: #2f6d31;
  }

